body {
    margin: 0;
}

.navbar {
    background-color: grey;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left {
    background-color: orangered;
    min-width: 30vw;
    display: flex;
    justify-content: space-around;
}
.right {
    background-color: forestgreen;
    min-width: 20vw;
    display: flex;
    justify-content: space-around;
}

.navlink {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}