body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(cyan 30%, purple);
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 15px;
    width: 4000px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

.card h2 {
    text-align: center;
}

.card p {
    padding: 0 5%;
}

.card footer {
    background-color: slateblue;
    border-radius: 0 0 15px 15px;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}